/* Bismillahi Rahmani Raheem */

/* //////////////////////
 Imported Font Link Start ⬇
 //////////////////////// */

@import url("https://fonts.googleapis.com/css2?family=Acme&family=Fredericka+the+Great&family=Inter:wght@200;300;400;500&family=Merienda:wght@700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,800&family=Poppins:wght@100;200;300;400&family=Roboto:wght@100;300;400;500;700;900&family=RocknRoll+One&display=swap");

/* //////////////////////
 Imported Font Link Ends ⬆ 
 //////////////////////// */

/* //////////////////////
 General Styling Start  ⬇ 
 //////////////////////// */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  --color: #10162f;
  --bgColor: #fff0e5;
  --white: white;
  --btncolor: #3a10e5;
  --inter: "Inter", sans-serif;
  --poppins: "Poppins", sans-serif;
}

body {
  color: #10162f;
  background-color: var(--bgColor);
  font-family: var(--inter);
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

h3,
p {
  color: var(--color);
}

a {
  text-decoration: none;
}
button {
  border: none;
  cursor: pointer;
}
.img {
  height: 200px;
}
img {
  width: 100%;
}
button,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#catalog-title {
  font-size: xx-large;
  width: 42%;
}
/* //////////////////////
 General Styling Ends  ⬆ 
 //////////////////////// */

/* //////////////////////
 Hero Section Start  ⬇ 
 //////////////////////// */

#hero-section {
  padding-bottom: 20px;
  position: relative;
}

/* Hero Section Header Start ⬇ */
#hero-section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

header .logo {
  font-weight: 400;
  font-size: 1.2em;
  cursor: pointer;
  font-weight: bold;
  font-family: "RocknRoll One", sans-serif;
}

.logo-title{
  font-weight: 600;
  font-size: large;
}

header nav {
  position: fixed;
  background-color: white;
  top: 0;
  right: -2500;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 999;
  transition: 1s ease-in-out;
}

header .active {
  right: 0;
  transition: 1s ease-in-out;
}

nav .nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: 10px;
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.nav-top button {
  font-size: 3em;
  padding-left: 5px;
  padding-right: 5px;
  background: none;
  outline: none;
  font-weight: lighter;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: white;
}
ul a {
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
  color: var(--color);
  display: block;
  margin-bottom: 10px;
}
ul a:hover {
  color: var(--btncolor);
}

.log-in {
  background: none;
  font-weight: 400;
  font-size: 1.1em;
  border-radius: 4px;
  padding: 0;
  font-weight: 700;
  min-width: 40px;
  height: 40px;
  float: right;
}

header .menu {
  width: 32px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.menu .bar {
  width: 90%;
  height: 2px;
  background-color: rgb(22, 22, 21);
  margin: 2px;
  border-radius: 30%;
}

/* Hero Header Ends ⬆ */

/* Hero Content Start ⬇ */
#hero-section .content {
  margin: auto;
  margin-top: 20px;
  padding: 20px;
}
.content p {
  font-weight: 400;
  font-size: 1.2em;
}

.content span {
  font-weight: 600;
  display: block;
  margin-top: 10px;
  font-size: 0.8em;
}

.content .img {
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 40px;
}
.img img {
  box-shadow: rgba(0, 0, 23, 0.111) -5px 5px, rgba(0, 0, 23, 0.101) -10px 10px;
  border-radius: 4px;
}

.sidebar {
  position: fixed;
  top: 80;
  left: 0;
  height: 100%;
  width: 240px;
  background: whitesmoke;
  padding: 6px 14px;
}
.sidebar .logo_content .logo{
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
}
.logo_content .logo i{
  font-size: 100px;
}
/* Hero Content Ends ⬆ */

/* Hero Pattern start ⬇ */
#hero-section .pattern {
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%239C92AC' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
  z-index: initial;
  border-radius: 10%;
}

/* Hero Wave Pattern Ends ⬆ */

/* //////////////////////
 Hero Section Ends  ⬆ 
 //////////////////////// */

 .the-three {
  padding: 20px;
  padding-top: 40px;
  background-color: var(--white);
 }

.the-three h1 {
  margin-bottom: 10px;
}

li a {text-decoration : none; color : #2d2f31;}

/* course drop down below */

nav {
  width : 300px; 
  background: #d9d9d9;
  margin : 40px auto; 
}

/* professional courses */

#dropdown {
  padding : 30px;
  background : #2d2f31; 
  color : white;
  font-size : 1.2em;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
}

#dropdown::after {
  float: right;
  right: 10%;
  content: ">";
}

.slide {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
}

.slide li {padding : 30px;}

#touch {position: absolute; opacity: 0; height: 0px;}    

#touch:checked + .slide {height: 300px;} 

/*Muslim courses */
#dropdown-1 {
  padding : 30px;
  background : #2d2f31; 
  color : white;
  font-size : 1.2em;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
}

#dropdown-1::after {
  float: right;
  right: 10%;
  content: ">";
}

.slide-1 {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
}

.slide-1 li {padding : 30px;}

#touch-1 {position: absolute; opacity: 0; height: 0px;}    

#touch-1:checked + .slide-1 {height: 300px;} 

/* skill courses */
#dropdown-2 {
  padding : 30px;
  background : #2d2f31; 
  color : white;
  font-size : 1.2em;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
}

#dropdown-2::after {
  float: right;
  right: 10%;
  content: ">";
}

.slide-2 {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
}

.slide-2 li {padding : 30px;}

#touch-2 {position: absolute; opacity: 0; height: 0px;}    

#touch-2:checked + .slide-2 {height: 300px;}

footer {
  padding: 20px;
  background-color: var(--bgColor);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer p {
  text-align: center;
}
/* //////////////////////
 Social Media Section Start ⬆ 
 //////////////////////// */

/* Alhamdulillah! */
